{:deps
 {io.github.aamedina/rdf
  {:sha     "0f3edda0f6fdb650ccea1e3de9825c6efe2a8cd0"
   :git/url "https://github.com/aamedina/rdf.git"}
  org.clojure/tools.deps
  {:mvn/version "0.18.1354"}
  org.spdx/tools-java
  {:mvn/version "1.1.7"
   :exclusions [org.apache.logging.log4j/log4j-slf4j18-impl]}
  clj-fuzzy/clj-fuzzy
  {:mvn/version "0.4.1"}}
 :paths ["src/clj" "src/cljc" "classes" "resources"]
 :aliases
 {:dev
  {:extra-deps
   {com.walmartlabs/schematic
    {:mvn/version "1.3.0"}
    com.stuartsierra/component.repl
    {:mvn/version "1.0.0"}
    org.clojure/test.check
    {:mvn/version "1.1.1"}
    org.clojure/tools.namespace
    {:mvn/version "1.4.4"}
    org.slf4j/slf4j-simple
    {:mvn/version "2.0.7"}
    markdown-clj/markdown-clj
    {:mvn/version "1.11.4"}
    vlaaad/reveal
    {:mvn/version "1.3.280"}}
   :extra-paths ["dev"]
   :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                 "-XX:+HeapDumpOnOutOfMemoryError"
                 "-Dorg.slf4j.simpleLogger.defaultLogLevel=warn"]}}}
