{:asami  {:sc/create-fn net.wikipunk.asami/map->Connection
          :uri          "asami:mem://.vocab"}
 :client {:sc/create-fn datomic.client.api/client
          :server-type  :datomic-local
          :system       "dev"}
 :db     {:sc/create-fn net.wikipunk.datomic/map->Connection
          :sc/refs      [:client]
          :db-name      "ssvc"}
 :vocab  {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
          :sc/refs      {:env :asami :ssvc :ssvc}
          :ns-prefix    "net.wikipunk.rdf."
          :output-to    "src/cljc/net/wikipunk/rdf/"
          :context      [net.wikipunk.ssvc.boot]
          :finalize?    true}
 :ssvc   {:sc/create-fn net.wikipunk.ssvc/map->SSVC}}
